<div class="container-fluid" style="margin-top: 40px;">

  <div class="mx-auto" style="width: 70px;">
    <img src="assets/img/images-master/change-password.png" alt=""><br>
  </div>


<div style="width: 400px;" class="aendern mx-auto">
    <h4>  PASSWORT ÄNDERN </h4>
</div>

<div style="display:flex;">
<div class ="überschrift">
<div style="width: 320px; height: 140px;">
  <ul style="text-decoration: none;">
    <li>AKTUELLES PASSWORT*</li>
    <li>NEUES PASSWORT*</li>
    <li>PASSWORT BESTÄTIGEN*</li>
  </ul>
</div>
</div>


<form>
  <div class="input-group">
    <div style="width: 320px; height: 140px;">
      <input id="aktuellesPasswort" type="text" class="form-control" name="passwort" style="width: 320px; height: 40px;" required autofocus>
      <input id="neuesPasswort" type="text" class="form-control" name="passwort"  style="width: 320px; margin-top:5px; margin-bottom:5px; height: 40px;" required autofocus>
      <input id="bestaetigenPasswort" type="text" class="form-control" name="passwort" style="width: 320px; height: 40px;" required autofocus>
    </div>
</div>
</form>
</div>


<span class="mx-auto" style="width: 120px;">
  <button class="btn btn-lg  btn-block" type="submit">ÄNDERN</button>
</span>

</div>
