<!-- <div class="aendern">
<span class="schluesselbild">
<img src="assets/img/images-master/change-password.png" alt=""><br>
</span>

<span class = "aendern">
   <h2>  PASSWORT ÄNDERN </h2>
</span>

<div class= "input-group">
<span>
  AKTUELLES PASSWORT*
  <input id="aktuellesPasswort" type="text"
  class="form-control" name="passwort"  required autofocus>
</span><br>
<span>
  NEUES PASSWORT*
  <input id="neuesPasswort" type="text" class="form-control"
  name="passwort"  required autofocus>
</span><br>
<span>PASSWORT BESTÄTIGUNG*
  <input id="bestaetigenPasswort" type="text"
  class="form-control" name="passwort"  required autofocus>
</span><br>
</div>

<span>
  <button class="btn btn-lg  btn-block" type="submit">ÄNDERN</button>
</span>
</div> -->



<div class="container">
  <div class="row">
    <div class="col-lg-6;col-lg-6">
  <span class="schluesselbild">
<img src="assets/img/images-master/change-password.png" alt=""><br>
</span>


<span class = "aendern">
<h2>  PASSWORT ÄNDERN </h2>
</span>

<div style="display:flex;">
<div class ="überschrift">
<div style="width: 320px; height: 140px;">
  <ul style="text-decoration: none;">
    <li>AKTUELLES PASSWORT*</li>
    <li>NEUES PASSWORT*</li>
    <li>PASSWORT BESTÄTIGEN*</li>
  </ul>
</div>
</div>


<form>
  <div class="input-group">
    <div style="width: 320px; height: 140px;">
  <input id="aktuellesPasswort" type="text"
  class="form-control" name="passwort"  required autofocus>
  <input id="neuesPasswort" type="text" class="form-control"
  name="passwort"  required autofocus>
  <input id="bestaetigenPasswort" type="text"
  class="form-control" name="passwort" required autofocus>
</div>
</div>
</form>
</div>


<span id="button">
  <button class="btn btn-lg  btn-block" type="submit">ÄNDERN</button>
</span>


</div>
</div>
</div>
