# NodeJS and Co
ChoColate-angular/logs
ChoColate-angular/typings
ChoColate-angular/*.log
ChoColate-angular/npm-debug.log*
ChoColate-angular/pids
ChoColate-angular/*.pid
ChoColate-angular/*.seed
ChoColate-angular/*.pid.lock
ChoColate-angular/lib-cov
ChoColate-angular/coverage
ChoColate-angular/.nyc_output
ChoColate-angular/.grunt
ChoColate-angular/.lock-wscript
ChoColate-angular/build/Release
ChoColate-angular/node_modules
ChoColate-angular/jspm_packages
ChoColate-angular/.npm
ChoColate-angular/.eslintcache
ChoColate-angular/.node_repl_history
ChoColate-angular/*.tgz
ChoColate-angular/.yarn-integrity
ChoColate-angular/.vscode

/.metadata

#IDEs
.idea/
*.iml