.error-modal #content-error {
  background-color: #b71967;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
}

p {
  word-wrap: break-word;
  font: 13pt "Roboto Thin", normal !important;
}
