<template #content let-c="close" let-d="dismiss">
  <div id="content-error">
    <div class="modal-body" style=" justify-content: center; width: inherit; height: inherit; margin-bottom: 15px;">
      <img (click)="d('Cross click')" style="position: absolute; top:15px !important; right:15px !important;" src="assets/img/images-master/images-master/delete.png" alt="">
      <img src="assets/img/images-master/images-master/warning.png" style="margin-bottom: 15px; margin-right: auto; margin-left: auto; display: block;" alt="">
      <p>laksjdfljalksjdfjasjd flajsdklf ajklsjd fklajsd fjaklsjd flkajsdkl faklsjd flaksj dfasiduf asdlfjklasdf </p>
    </div>
  </div>
</template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
