
<div class="container-fluid" style="margin-top:40px">

  <div style="width:200px; margin-bottom:40px;" class="mx-auto">
    <h4>Check! Schule</h4>
  </div>

  <div style="width:650px;" class="mx-auto">
    <img src="assets/img/images-master/images-master/school/school-red-big-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-yellow-big-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-grey-big-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-green-big-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-petrol-big-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-purple-big-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-rose-big-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-violet-big-active.png" alt="">
  </div>



  <div style="width:380px; margin-top: 100px;" class="mx-auto">
    <img src="assets/img/images-master/images-master/school/school-red-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-yellow-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-grey-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-green-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-petrol-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-purple-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-rose-active.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-violet-active.png" alt="">
  </div>

  <div style="width:380px; margin-top: 20px;" class="mx-auto">
    <img src="assets/img/images-master/images-master/school/school-inactive.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-inactive.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-inactive.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-inactive.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-inactive.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-inactive.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-inactive.png" alt="">
    <img src="assets/img/images-master/images-master/school/school-inactive.png" alt="">
  </div>

</div>
