.flag
{
  position:absolute;
  top:5px;
}

#scrollen1
{
  position:fixed;
  right: 30px;
  top: 20px;
  opacity:2;

}

#scrollen2
{
  position:fixed;
  right: 30px;
  bottom: 20px;
}

.was
{
  text-align: center;
  top: 20px;
  font-weight: bold;
  border: 3px pink solid;
  border-radius: 20px/ 10px;
}

.image-container{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 400px;

}

.Container{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  padding-top:50px;
}

.text {
  z-index:100;
  position: absolute;
  font-weight: bold;
  left: 10px;
  top: 20px;
  font-family: "DR HH El";
  font-size: 18px;
  color:#001a3a;
}

.komp
{
  z-index:100;
  position: absolute;
  float: right;
  padding: 12px;
  margin-left: 365px;
}

.lesson
{
  position: absolute;
  margin-bottom: 5px;
  font-family: SansSerif;
  font-size: 7.5pt;
  top:120px;
  left: 10px;
  color: #001a3a;
  text-align: left;
}
