<div style="left: 20px;">
  <template #menu1>
    <ul class="list-group">
      <li class="list-group-item" ><a href="#"><img class="image" src="assets/images-master/images-master/confirmation.png" alt="" />
        <span class="test">CHECK!<br> KOMPETENZLISTE</span></a>
      </li>
      <li class="list-group-item"><a href="#">DAS BIN ICH</a></li>
      <li class="list-group-item"><a href="#">ICH UND DIE ANDEREN</a></li>
      <li class="list-group-item"><a href="#">DIE WELT UM MICH HERUM</a></li>
      <li class="list-group-item"><a href="#">ICH WERDE SELBSTSTÄNDIG</a></li>
      <li class="list-group-item"><a href="#">SICH BEWEGEN</a></li>
      <li class="list-group-item"><a href="#">LERNEN</a></li>
      <li class="list-group-item"><a href="#">ARBEITEN</a></li>
      <li class="list-group-item"><a href="#">GESTALTEN UND ERSCHAFFEN</a></li>
      <li class="list-group-item"><a href="#">SPRECHEN</a></li>
      <li class="list-group-item"><a href="#">FREMDSPRACHE</a></li>
      <li class="list-group-item"><a href="#">LESEN</a></li>
      <li class="list-group-item"><a href="#">SCHREIBEN</a></li>
      <li class="list-group-item"><a href="#">MESSEN</a></li>
      <li class="list-group-item"><a href="#">LÖSUNGEN FINDEN</a></li>
      <li class="list-group-item"><a href="#">ZÄHLEN UND RECHNEN</a></li>
      <li class="list-group-item"><a href="#">FORM UND RAUM ENTDECKEN</a></li>
    </ul>
  </template>

  <template #menu2>
    <ul class="list-group">
      <li class="list-group-item"><a href="#"><img class="image" src="assets/images-master/images-master/educationalPlan-big.png" alt="" />
        <span class="test">FÖRDERPLAN<br> MATHE ZR BIS 10</span></a></li>
      <li class="list-group-item"><a href="#">MATHE ZR BIS 10</a></li>
      <li class="list-group-item"><a href="#">DEUTSCH SATZANFÄNGE</a></li>
      <li class="list-group-item"><a href="#">SACHKUNDE "DER WALD"</a></li>
    </ul>
  </template>

  <template #menu3>
    <ul class="list-group">
      <li class="list-group-item"><a href="#"><img class="image" src="assets/images-master/images-master/achievedCompetences-big.png" alt="" />
        <span class="test">DAS<br> KANN<br>ICH!</span></a></li>
      <li class="list-group-item"><a href="#">ALLE KOMPETENZEN!</a></li>
      <li class="list-group-item"><a href="#">DAS BIN ICH</a></li>
      <li class="list-group-item"><a href="#">ICH UND DIE ANDEREN</a></li>
      <li class="list-group-item"><a href="#">DIE WELT UM MICH HERUM</a></li>
      <li class="list-group-item"><a href="#">ICH WERDE SELBSTSTÄNDIG</a></li>
      <li class="list-group-item"><a href="#">SICH BEWEGEN</a></li>
      <li class="list-group-item"><a href="#">LERNEN</a></li>
      <li class="list-group-item"><a href="#">ARBEITEN</a></li>
      <li class="list-group-item"><a href="#">GESTALTEN UND ERSCHAFFEN</a></li>
      <li class="list-group-item"><a href="#">SPRECHEN</a></li>
      <li class="list-group-item"><a href="#">FREMDSPRACHE</a></li>
      <li class="list-group-item"><a href="#">LESEN</a></li>
      <li class="list-group-item"><a href="#">SCHREIBEN</a></li>
      <li class="list-group-item"><a href="#">MESSEN</a></li>
      <li class="list-group-item"><a href="#">LÖSUNGEN FINDEN</a></li>
      <li class="list-group-item"><a href="#">ZÄHLEN UND RECHNEN</a></li>
      <li class="list-group-item"><a href="#">FORM UND RAUM ENTDECKEN</a></li>
    </ul>
  </template>


  <template #menu4>
    <ul class="list-group">
      <li class="list-group-item"><a href="#"><img class="image" src="assets/images-master/images-master/student/superhero-catwoman-big-active.png" alt="" />
        <span class="test">CATWOMAN</span><br><br><br>20.September 2008</a></li>
      <li class="list-group-item"><a href="#">MEIN PROFILBILD ÄNDERN</a></li>
      <li class="list-group-item"><a href="#">MEIN PASSWORT ÄNDERN</a></li>
      <li class="list-group-item"><a href="#">MEIN PROFIL LÖSCHEN</a></li>
    </ul>
  </template>


  <template #menu5>
    <ul class="list-group">
      <li class="list-group-item"><a href="#"><img class="image" src="assets/images-master/images-master/studyGroup/studyGroup_2b_active-big.png" alt="" />
        <span class="test">KLASSE<br>2B</span><br><br><br>KLASSENLEHRER*IN<br>Valerie Wildenmann</a>
      </li>
    </ul>
  </template>


  <template #menu6>
    <ul class="list-group">
      <li class="list-group-item"><a href="#"><img class="image" src="assets/images-master/images-master/help-big.png" alt="" />
        <span class="test">BRAUCHST<br>DU HILFE?</span></a></li>
      <li class="list-group-item"><a href="#">SO GEHT'S!</a></li>
      <li class="list-group-item"><a href="#">VIDEO-TUTORIALS</a></li>
      <li class="list-group-item"><a href="#">HÄUFIG GESTELLTE FRAGEN</a></li>
      <li class="list-group-item"><a href="#">KONTAKT</a></li>
    </ul>
  </template>


  <template #menu7>
    <ul class="list-group">
      <li class="list-group-item" ><a href="#"><img class="image" src="assets/images-master/images-master/logout-big.png" alt="" />
        <span class="test"><br>MÖCHTEST DU<br>CHECK!<br>VERLASSEN?</span></a></li>
      <li class="list-group-item"><a href="#">JA</a></li>
      <li class="list-group-item"><a href="#">NEIN</a></li>
    </ul>
  </template>


</div>
<ul class="nav">
  <li [ngbPopover]="menu1" placement="bottom" container="body" class="nav-item">
    <span >
      <img src="assets/images-master/images-master/chapterOverview-inactive.png" alt="">
    </span>
  </li>
  <li [ngbPopover]="menu2" placement="bottom" class="nav-item">
    <img src="assets/images-master/images-master/educationalPlan-inactive.png" alt="" />
  </li>
  <li [ngbPopover]="menu3" placement="bottom" class="nav-item">
    <img src="assets/images-master/images-master/achievedCompetences-inactive.png" alt="" />
  </li>
  <li class="nav-item mx-auto">
    <img  src="assets/images-master/images-master/logo.png" alt="" />
  </li>

  <li [ngbPopover]="menu4" placement="bottom" class="nav-item">
    <img src="assets/images-master/images-master/student/superhero-robin-inactive.png" alt="" />
  </li>

  <li [ngbPopover]="menu5" placement="bottom" class="nav-item">
    <img src="assets/images-master/images-master/school/school-inactive.png" alt="" />
  </li>

  <li [ngbPopover]="menu6" placement="bottom" class="nav-item">
    <img src="assets/images-master/images-master/studyGroup/studyGroup_2b_inactive.png" alt="" />
  </li>

  <li class="nav-item">
    <img src="assets/images-master/images-master/help-inactive.png" alt="" />
  </li>

  <li [ngbPopover]="menu7" placement="bottom" class="nav-item">
    <img src="assets/images-master/images-master/logout-iactive.png" alt="" />
  </li>
</ul>

<!--<div style="background-color:#f29db7">


             <li class="menu-hilfe"><a href="#"> <img src="assets/images-master/images-master/help-inactive.png" alt="" /></a>
             </li>
             <li class="menu-checkverlassen"><a href="#"> <img src="assets/images-master/images-master/logout-iactive.png" alt="" /></a>
             </li>

           </ul>
         </div>
       </div>
   </nav>
 </div>
 <div class="container">
   &lt;!&ndash; inthalt de la page  &ndash;&gt;
   &lt;!&ndash; inthalt de la page  &ndash;&gt;
   &lt;!&ndash; inthalt de la page  &ndash;&gt;
   &lt;!&ndash; inthalt de la page  &ndash;&gt;
 </div>
 <footer>
   <nav class="navbar navbar-inverse navbar-fixed-bottom">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         &lt;!&ndash; <a class="navbar-brand" href="#">WebSiteName</a> &ndash;&gt;
       </div>
       <div class="collapse navbar-collapse">
         <div class="logofooter" align="center" >
             <img  src="assets/images-master/images-master/logo.png" style="width:80px;height:30px;" />
             <footer>
               <span class="text"> edition 2016 dark night blue 1.0</span>
             </footer>
          </div>
       </div>
     </div>
   </nav>
 </footer>

</div>-->
