<div>
  <ul class="nav">
    <li class="menu-Kompetenz nav-item"><a href="#"> <img src="assets/images-master/images-master/chapterOverview-inactive.png" alt=""></a>
      <ul class="submenu">
        <li class="submenu1"><a href="#"><img class="image" src="assets/images-master/images-master/confirmation.png" alt=""/>
          <span class="test">CHECK!<br> KOMPETENZLISTE</span></a></li>
        <li class="submenu2"><a href="#">DAS BIN ICH</a></li>
        <li class="submenu3"><a href="#">ICH UND DIE ANDEREN</a></li>
        <li class="submenu4"><a href="#">DIE WELT UM MICH HERUM</a></li>
        <li class="submenu5"><a href="#">ICH WERDE SELBSTSTÄNDIG</a></li>
        <li class="submenu6"><a href="#">SICH BEWEGEN</a></li>
        <li class="submenu7"><a href="#">LERNEN</a></li>
        <li class="submenu8"><a href="#">ARBEITEN</a></li>
        <li class="submenu9"><a href="#">GESTALTEN UND ERSCHAFFEN</a></li>
        <li class="submenu10"><a href="#">SPRECHEN</a></li>
        <li class="submenu11"><a href="#">FREMDSPRACHE</a></li>
        <li class="submenu12"><a href="#">LESEN</a></li>
        <li class="submenu13"><a href="#">SCHREIBEN</a></li>
        <li class="submenu14"><a href="#">MESSEN</a></li>
        <li class="submenu15"><a href="#">LÖSUNGEN FINDEN</a></li>
        <li class="submenu16"><a href="#">ZÄHLEN UND RECHNEN</a></li>
        <li class="submenu17"><a href="#">FORM UND RAUM ENTDECKEN</a></li>
      </ul>
    </li>

    <li class="menu-Förderplan nav-item"><a href="#"> <img src="assets/images-master/images-master/educationalPlan-inactive.png" alt=""/></a>
      <ul class="submenu">
        <li class="submenu1"><a href="#"><img class="image" src="assets/images-master/images-master/educationalPlan-big.png" alt=""/>
          <span class="test">FÖRDERPLAN<br> MATHE ZR BIS 10</span></a></li>
        <li class="submenu2"><a href="#">MATHE ZR BIS 10</a></li>
        <li class="submenu3"><a href="#">DEUTSCH SATZANFÄNGE</a></li>
        <li class="submenu4"><a href="#">SACHKUNDE "DER WALD"</a></li>
      </ul>
    </li>

    <li class="menu-Erreicht nav-item"><a href="#"> <img src="assets/images-master/images-master/achievedCompetences-inactive.png" alt=""/></a>
      <ul class="submenu">
        <li class="submenu1"><a href="#"><img class="image" src="assets/images-master/images-master/achievedCompetences-big.png" alt=""/>
          <span class="test">DAS<br> KANN<br>ICH!</span></a></li>
        <li class="submenu2"><a href="#">ALLE KOMPETENZEN!</a></li>
        <li class="submenu3"><a href="#">DAS BIN ICH</a></li>
        <li class="submenu4"><a href="#">ICH UND DIE ANDEREN</a></li>
        <li class="submenu5"><a href="#">DIE WELT UM MICH HERUM</a></li>
        <li class="submenu6"><a href="#">ICH WERDE SELBSTSTÄNDIG</a></li>
        <li class="submenu7"><a href="#">SICH BEWEGEN</a></li>
        <li class="submenu8"><a href="#">LERNEN</a></li>
        <li class="submenu9"><a href="#">ARBEITEN</a></li>
        <li class="submenu10"><a href="#">GESTALTEN UND ERSCHAFFEN</a></li>
        <li class="submenu11"><a href="#">SPRECHEN</a></li>
        <li class="submenu12"><a href="#">FREMDSPRACHE</a></li>
        <li class="submenu13"><a href="#">LESEN</a></li>
        <li class="submenu14"><a href="#">SCHREIBEN</a></li>
        <li class="submenu15"><a href="#">MESSEN</a></li>
        <li class="submenu16"><a href="#">LÖSUNGEN FINDEN</a></li>
        <li class="submenu17"><a href="#">ZÄHLEN UND RECHNEN</a></li>
        <li class="submenu18"><a href="#">FORM UND RAUM ENTDECKEN</a></li>
      </ul>
    </li>

    <li class="nav-item mx-auto">
      <img src="assets/images-master/images-master/logo.png" alt=""/>
    </li>

      <li class="menu-profil nav-item"><a href="#"> <img src="assets/images-master/images-master/student/superhero-robin-inactive.png" alt=""/></a>
        <ul class="submenu" style="margin-left: 950px !important;">
          <li class="submenu1"><a href="#"><img class="image" src="assets/images-master/images-master/student/superhero-catwoman-big-active.png" alt=""/>
            <span class="test">CATWOMAN</span><br><br><br>20.September 2008</a></li>
          <li class="submenu2"><a [routerLink]="['profileUpdate']" >MEIN PROFILBILD ÄNDERN</a></li>
          <li class="submenu3"><a [routerLink]="['passwordAndern']" >MEIN PASSWORT ÄNDERN</a></li>
          <li class="submenu4"><a [routerLink]="['profileLoeschen']" >MEIN PROFIL LÖSCHEN</a></li>
        </ul>
      </li>

      <li class="menu-schule nav-item"><a href="#"> <img src="assets/images-master/images-master/school/school-inactive.png" alt=""/></a>
        <ul class="submenu" style="margin-left: 980px !important;">
          <li class="submenu1"><a href="#"><img class="image" src="assets/images-master/images-master/school/school-purple-big-active.png" alt=""/>
            <span class="test">ASTRID-<br>LINDGREN-<br>SCHULE</span>
            <br><br>STRASSE NUMMER<br>PLZ ORT<br>LAND<br><br>EMAIL<br>TELEFON</a>
          </li>
        </ul>
      </li>

      <li class="menu-klasse nav-item"><a href="#"> <img
        src="assets/images-master/images-master/studyGroup/studyGroup_2b_inactive.png" alt=""/></a>
        <ul class="submenu" style="margin-left: 1000px !important;">
          <li class="submenu1"><a href="#"><img class="image" src="assets/images-master/images-master/studyGroup/studyGroup_2b_active-big.png" alt=""/>
            <span class="test">KLASSE<br>2B</span><br><br><br>KLASSENLEHRER*IN<br>Valerie Wildenmann</a>
          </li>
        </ul>
      </li>

      <li class="menu-hilfe nav-item"><a href="#"> <img src="assets/images-master/images-master/help-inactive.png" alt=""/></a>
        <ul class="submenu" style="margin-left: 1000px !important;">
          <li class="submenu1"><a href="#"><img class="image" src="assets/images-master/images-master/help-big.png" alt=""/>
            <span class="test">BRAUCHST<br>DU HILFE?</span></a></li>
          <li class="submenu2"><a (click)="openWindow(so_geht)">SO GEHT'S!</a></li>
          <li class="submenu3"><a (click)="openWindow(video_tutorial)">VIDEO-TUTORIALS</a></li>
          <li class="submenu4"><a (click)="openWindow(faq)">HÄUFIG GESTELLTE FRAGEN</a></li>
          <li class="submenu5"><a (click)="openWindow(kontakt)">KONTAKT</a></li>
        </ul>
      </li>

      <li class="menu-checkverlassen nav-item"><a href="#"> <img src="assets/images-master/images-master/logout-iactive.png" alt=""/></a>
        <ul class="submenu"  style="margin-left: 1000px !important;">
          <li class="submenu1"><a href="#"><img class="image" src="assets/images-master/images-master/logout-big.png" alt=""/>
            <span class="test"><br>MÖCHTEST DU<br>CHECK!<br>VERLASSEN?</span></a></li>
          <li class="submenu2"><a (click)="verlassen()">JA</a></li>
          <li class="submenu3"><a (click)="dummy()">NEIN</a></li>
        </ul>
      </li>

  </ul>
</div>

<router-outlet>

</router-outlet>

<footer class="text-center fixed-bottom" style="width:100%;height:50px; background-color:#001A3A;">
      <img class="mx-auto" src="assets/images-master/images-master/logo.png" style="width:80px;height:30px;"/>
      <br/>
      <span class="text"> edition 2016 dark night blue 1.0</span>
</footer>
