.catwoman {
  margin-top: 40px;
}
.text{
  margin-top: 12px;
  font-family: "Brandon Grotesque Black";
  font-size: 20pt;
  font-weight: bold;
  color: #001a3a;
}
.btn{
  margin-top: 20px;
  background-color: #001a3a;
  color: white;
}
.profil{
  display: flex;
  flex-direction: column;
  
}
