
<div class="container-fluid">
  <hr>
  <p>
    This is a demo plnkr forked from the <strong>ng-bootstrap</strong> project: Angular powered Bootstrap.
    Visit <a href="https://ng-bootstrap.github.io/" target="_blank">https://ng-bootstrap.github.io</a> for more widgets and demos.
  </p>
  <hr>

  <template ngbModalContainer></template>

  <app-message-error></app-message-error>
  <app-message-success></app-message-success>
  <app-message-warning></app-message-warning>
</div>

<div>

  <app-textbubble option='failed' chapter='02'> lkajslkdjfklas flkajskldfjkalsdf lkajsdklfj aksldjf</app-textbubble>
  <app-textbubble option='failed' chapter='04'></app-textbubble>
  <app-textbubble option='done' chapter='04'></app-textbubble>

</div>
