.error-modal #content-error {
  background-color: #b71967;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
}

p {
  word-wrap: break-word;
  font: 13pt "Roboto Thin", normal !important;
}

input
{
  padding: 20px;
  border: 2px solid;
  color:#8da6d6 ;
  font-family:   "Brandon Grotesque Black";
  text-color: gray;
  font-size: 13pt;
}

#login-username, #logPasswort
{
  border: 2px solid;
  border-radius: 7px;
  color:#8da6d6 ;
  font-family:   "Brandon Grotesque Black";
  text-color: gray;
}

.check
{
  text-align: center;
  padding-top:0px;
  color: #8da6d6;
}

.produkt
{
  color: #8da6d6;
  font-size:13pt;
  font-family: "Roboto Thin"
}

/*.btn{
  background-color:  #001a3a;
  color:white;
  font-size=13pt;
}*/

#beschreibung
{
  color: #8da6d6;
  font-size:13pt;
  font-family: "Roboto Thin"
}

#underline
{
  text-decoration: underline;
  color: #8da6d6 ;
  font-size:13pt;
  font-family: "Roboto Thin"
}


:host >>> .tooltip-inner {
  background-color: #d3ddf2;
  color: #001a3a;
  max-width: 300px;
}

:host >>> .tooltip .tooltip-inner::before {
  border-color: transparent;
  border-right-color:#d3ddf2;
  width: auto ;
}
